<div class="container">
  <div class="selected">
    <span>
      {{ selectedCount }}
      @if (allCount) {
        of {{ allCount }}
      }
      Selected
    </span>
    @if (selectAllEnabled && !allSelected) {
      <a
        (click)="selectAllClick()"
        class="select-all-link">
        Select All {{ allCount }}
      </a>
    }
  </div>
  <div class="actions">
    @if (!singleActionMode) {
      <mat-select
        (selectionChange)="selectAction($event.value)"
        [disabled]="selectionIsEmpty || noActionsAvailable"
        fsSelectButton
        color="primary"
        buttonType="flat"
        [(ngModel)]="selectedAction"
        [deselectOnChange]="false"
        [placeholder]="selectorPlaceholder">
        @for (action of actions; track action) {
          <mat-option
            [value]="action"
            [disabled]="action.disabled">
            {{ action.label }}
          </mat-option>
        }
      </mat-select>
    } @else {
      <button
        mat-flat-button
        (click)="selectAction(actions[0])"
        [disabled]="selectionIsEmpty || noActionsAvailable"
        color="primary">
        {{ actions[0].label }}
      </button>
    }
    <button
      mat-button
      (click)="cancelClick()"
      class="action cancel-btn">
      Cancel
    </button>
  </div>
</div>