<div mat-dialog-content class="selection-content">

  <div class="selected">
      <span>
        {{ selectedCount }} <ng-container *ngIf="allCount">of {{ allCount }}</ng-container> Selected
      </span>

    <a 
        (click)="selectAllClick()" 
        *ngIf="selectAllEnabled && !allSelected" 
        class="select-all-link">
      Select All {{ allCount }}
    </a>
  </div>

  <div class="actions">
    <ng-container *ngIf="!singleActionMode; else singleAction">
      <mat-select 
          (selectionChange)="selectAction($event.value)"
          [value]="selectedAction"
          [disabled]="selectionIsEmpty || noActionsAvailable"
          fsSelectButton
          [color]="Color.Primary"
          [placeholder]="selectorPlaceholder">
        <mat-option *ngFor="let action of actions" [value]="action">
          {{ action.label }}
        </mat-option>
      </mat-select>
    </ng-container>

    <ng-template #singleAction>
      <button mat-raised-button
              (click)="selectAction(actions[0])"
              [disabled]="selectionIsEmpty || noActionsAvailable"
              color="primary"
      > {{ actions[0].label }}
      </button>
    </ng-template>

    <button mat-button (click)="cancelClick()" class="action cancel-btn">Cancel</button>
  </div>

</div>
