<div mat-dialog-content>

  <div class="col1">
    <div class="selected">
      <span>
        {{ selectedCount }} of {{ allCount }} Selected
      </span>

      <a (click)="selectAllClick()" *ngIf="!allSelected" class="select-all-link">
        Select All {{ allCount }}
      </a>
    </div>

    <mat-select [(ngModel)]="selectedAction"
                (selectionChange)="selectAction($event)"
                fsSelectButton
                color="primary"
                placeholder="BULK ACTIONS">
      <mat-option *ngFor="let action of data.config.actions" [value]="action">
        {{ action.label }}
      </mat-option>
    </mat-select>

    <button mat-button (click)="cancelClick()" class="action"> CANCEL </button>
  </div>

</div>
