<fs-checkbox-group
  [(ngModel)]="selected"
  (change)="selectionChange()"
  name="selected"
  label="Checkboxes">
  @for (item of items; track item) {
    <mat-checkbox
      (click)="open()"
      [value]="item.id">
      {{ item.name }}
    </mat-checkbox>
  }
</fs-checkbox-group>
@if (selectionRef) {
  <div
    class="actions"
    >
    <button
      mat-flat-button
      color="primary"
      (click)="changeActions()">
      Change Actions
    </button>
    <button
      mat-flat-button
      color="warn"
      (click)="resetActions()">
      Reset To Default
    </button>
    <button
      mat-flat-button
      color="accent"
      (click)="switchDisable()">
      {{ disabled ? 'Enable' : 'Disable' }}
    </button>
  </div>
}