.mat-form-field {
  width: 100%;
}

::ng-deep {
  .fs-selection-autocomplete-panel {
    .row {
      display: flex;
      align-items: center;
      fs-badge {
        display: flex;
        margin-right: 5px;
      }
    }
  }
}
