@import '~@angular/material/theming';

@mixin fs-selection($theme) {

  $primary: mat-palette($theme);

  .fs-selection-pane {

    max-width: 100% !important;

    // For fix problem on iphone devices
    @media all and (max-width: 400px){
      .mat-dialog-content {
        padding: 10px 5px !important;
        margin: 0 !important;
      }
    }

    .mat-dialog-container {
      padding: 10px;
      border-radius: 0;
    }

    .mat-dialog-content {
      flex-direction: row;
      display: flex;
      align-items: center;
      margin: 0 -10px;
      padding: 0 20px;
      height: 50px;
      overflow-y: hidden;

      .selected {
        //margin-right: 20px;
        display: flex;
        flex: 0 1 auto;
        flex-direction: column;
        justify-content: center;

        .select-all-link {
          cursor: pointer;
          font-size: 95%;
        }
      }
    }

    .actions {
      display: flex;
      margin-left: 20px;
      flex: 1 0 auto;

      .mat-select {
        width: auto;
      }

      @media only screen and (max-width: 400px) {
        .cancel-btn {
          padding: 0;
        }
      }
    }

    .action {
      margin-left: 15px;
    }

    .selected-badge {
      margin-right: 3px;
      background: mat-color($primary);
      color: #fff;
      display: inline-block;
      width: 28px;
      text-align: center;
      border-radius: 50%;
      line-height: 28px;
    }
  }
}
