<div mat-dialog-title> {{ label }}</div>
<mat-dialog-content>
  <mat-form-field>
    <mat-select [(ngModel)]="selectedOption">
      <mat-option *ngFor="let option of options" [value]="option">
        {{option.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button type="button" color="primary" mat-button (click)="close(selectedOption)">CONTINUE</button>
  <button type="button" mat-button (click)="close()">CANCEL</button>
</mat-dialog-actions>
